<footer class="footer bg-dark py-4 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-3">
                <h5 class="text-white">Wanderlust</h5>
                <p class="text-muted">Your gateway to extraordinary adventures around the world.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <h5 class="text-white">Connect With Us</h5>
                <div class="d-flex gap-3">
                    <a href="#" class="f-info-links text-white">
                        <i class="fab fa-facebook-square fa-lg"></i>
                    </a>
                    <a href="#" class="f-info-links text-white">
                        <i class="fab fa-twitter-square fa-lg"></i>
                    </a>
                    <a href="#" class="f-info-links text-white">
                        <i class="fab fa-instagram-square fa-lg"></i>
                    </a>
                    <a href="#" class="f-info-links text-white">
                        <i class="fab fa-linkedin fa-lg"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <h5 class="text-white">Contact Info</h5>
                <ul class="list-unstyled text-muted">
                    <li><i class="fas fa-map-marker-alt"></i> 123 Adventure St, Explorer City</li>
                    <li><i class="fas fa-phone"></i> +1 234 567 8900</li>
                    <li><i class="fas fa-envelope"></i> info@wanderlust.com</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center text-white">
                <hr class="bg-white">
                <p class="mb-0">&copy; 2024 Wanderlust Adventures. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>