

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-md navbar-body-dark border-bottom">
  <div class="container-fluid">
    <!-- Brand Logo -->
    <a class="navbar-brand" href="/activities">
      <i class="fa-solid fa-compass"></i> Wanderlust
    </a>

    <!-- Navbar Toggler Button (for mobile) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Collapsible Content -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        
        <!-- Home Link -->
        <a class="nav-link" href="/activities">Home</a>

        <!-- Activities Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Activities
          </a>
          <!-- Dropdown Menu -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/activities/hiking">Hiking</a></li>
            <li><a class="dropdown-item" href="/activities/scuba-diving">Scuba Diving</a></li>
            <li><a class="dropdown-item" href="/activities/skydiving">Skydiving</a></li>
            <li><a class="dropdown-item" href="/activities/water-sports">Water Sports</a></li>
            <li><a class="dropdown-item" href="/activities/adventure-tours">Adventure Tours</a></li>
          </ul>
        </li>

        <!-- Add New Activity Link -->
        <a class="nav-link" href="/activities/new">Add New Activities</a>

        <!-- Search Bar -->
        <form class="d-flex" action="/search" method="GET">
          <input class="form-control me-2" type="search" placeholder="Search activities" aria-label="Search" name="query">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currUser) { %>
        <a class="nav-link" href="/signup">Sign Up</a>
        <a class="nav-link" href="/login">Log in</a>
        <% } %> <% if(currUser) { %>
        <a class="nav-link" href="/logout">Log out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>