<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/activities">
            <i class="bi bi-compass fs-3 me-2"></i>
            WildSpire
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/activities">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Activities
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/activities">All Activities</a></li>
                        <li><a class="dropdown-item" href="/activities">Beginner Friendly</a></li>
                        <li><a class="dropdown-item" href="/activities">Advanced Adventures</a></li>
                    </ul>
                </li>
                <% if (currUser) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/activities/new">Add Activity</a>
                    </li>
                <% } %>
            </ul>

            <form class="d-flex me-3" action="/activities">
                <input class="form-control me-2" type="search" name="search" placeholder="Search activities...">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>

            <div class="navbar-nav">
                <% if (!currUser) { %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/signup">Sign up</a>
                <% } else { %>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="bi bi-person-circle"></i> <%= currUser.username %>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/activities">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form action="/logout" class="dropdown-item">
                                    <button class="btn btn-link p-0">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</nav>