<nav class="navbar navbar-expand-md bg-body-light border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-compass"></i> Adventure Booking
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <!-- Home Link -->
        <a class="nav-link" href="/">Home</a>
        
        <!-- Activities Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Activities
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/listings/hiking">Hiking</a></li>
            <li><a class="dropdown-item" href="/listings/scuba-diving">Scuba Diving</a></li>
            <li><a class="dropdown-item" href="/listings/skydiving">Skydiving</a></li>
            <li><a class="dropdown-item" href="/listings/water-sports">Water Sports</a></li>
            <li><a class="dropdown-item" href="/listings/adventure-tours">Adventure Tours</a></li>
          </ul>
        </li>

        <!-- Add New Activity Link -->
        <a class="nav-link" href="/listings/new">Add New Activities</a>

        <!-- Search Bar -->
        <form class="d-flex" action="/search" method="GET">
          <input class="form-control me-2" type="search" placeholder="Search activities" aria-label="Search" name="query">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>


<!-- <nav class="navbar navbar-expand-md bg-body-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link"  href="/">Home</a>
          <a class="nav-link" href="/listings">Activities</a>
          <a class="nav-link" href="/listings/new">Add New Activities</a>
        </div>
      </div>
    </div>
  </nav> -->